<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
    <link rel='stylesheet' href='/stylesheets/bam.css' />
</head>
<body>
<!-- header -->
	<div id="header">
		<div class="header">
			<div class="left">
				<h1>
					<a href="javascript:;">
						<img src="images/logo_03.jpg" alt="">
					</a>
				</h1>
			</div>
			<div class="right">
				<div>
					<img src="images/littlelogo_03.jpg" alt="">
					<h2><a href="javascript:;">更多模板堂产品</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_05.jpg" alt="">
					<h2><a href="javascript:;">开店向导</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_07.jpg" alt="">
					<h2><a href="javascript:;">记事本</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_09.jpg" alt="">
					<h2><a href="javascript:;">刷新</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_11.jpg" alt="">
					<h2><a href="javascript:;">个人设置</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_13.jpg" alt="">
					<h2><a href="javascript:;">管理员留言</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_15.jpg" alt="">
					<h2><a href="javascript:;">查看网站</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_17.jpg" alt="">
					<h2><a href="javascript:;">帮助</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_19.jpg" alt="">
					<h2><a href="javascript:;">关于 ECSHOP</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_21.jpg" alt="">
					<h2><a href="javascript:;">清除缓存</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_23.jpg" alt="">
					<h2><a href="javascript:;">退出</a></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- nav -->
	<div id="nav">
		<ul class="nav">
			<li><a href="javascript:;">起始页</a></li>
			<li><a href="javascript:;">设置导航栏</a></li>
			<li><a href="javascript:;">商品管理<i>34</i></a></li>
			<li><a href="javascript:;">订单管理<i>0</i></a></li>
			<li><a href="javascript:;">广告管理<i>0</i></a></li>
			<li><a href="javascript:;">用户评论<i>0</i></a></li>

			<li><a href="javascript:;">用户评论</a></li>
			<li><a href="javascript:;">商品列表</a></li>
			<li><a href="javascript:;">会员列表</a></li>
			<li><a href="javascript:;">商店设置</a></li>
			<li><a href="javascript:;">移动版</a></li>
			<li><a href="javascript:;">服务市场</a></li>
			<li><a href="javascript:;">商品回收站</a></li>
			<li><a href="javascript:;">添加新商品</a></li>
		</ul>
	</div>
<!-- body -->
	<div class="bam_content">
		<div class="con_menu">
			<div class="menu_title">
				<h3>导航菜单</h3>
			</div>
			<ul>
				<div class="clearfix menu_name" id="menuName">
					商品管理
					<ul class="menu_wrap">
						<li class="menu_item"><a href="javascript:;">商品列表</a></li>
						<li class="menu_item"><a href="javascript:;">添加新商品</a></li>
						<li class="menu_item"><a href="javascript:;">商品分类</a></li>
						<li class="menu_item"><a href="javascript:;">用户评论</a></li>
						<li class="menu_item"><a href="javascript:;">商品品牌</a></li>
						<li class="menu_item"><a href="javascript:;">商品类型</a></li>
						
					</ul>
				</div>
				<div class="clearfix menu_name" id="menuName">促销管理
					<ul class="menu_wrap">
						<li class="menu_item"><a href="javascript:;">夺宝奇兵</a></li>
					</ul>
				</div>
				<div class="clearfix menu_name" id="menuName">订单管理</div>
				<div class="clearfix menu_name" id="menuName">广告管理</div>
				<div class="clearfix menu_name" id="menuName">报表统计</div>
				<div class="clearfix menu_name" id="menuName">文章管理</div>
				<div class="clearfix menu_name" id="menuName">会员管理</div>
				<div class="clearfix menu_name" id="menuName">权限管理</div>
				<div class="clearfix menu_name" id="menuName">系统设置</div>
				<div class="clearfix menu_name" id="menuName">促销管理</div>
				<div class="clearfix menu_name" id="menuName">模板管理</div>
				<div class="clearfix menu_name" id="menuName">数据库管理</div>
				<div class="clearfix menu_name" id="menuName">短信管理</div>
				<div class="clearfix menu_name" id="menuName">邮件群发管理</div>
				<div class="clearfix menu_name" id="menuName">移动版管理</div>
				<div class="clearfix menu_name" id="menuName">模板堂知识库</div>
			</ul>
		</div>
		<!-- right_content -->
		<div class="con_right">
			<div class="right_top">
				<span class="action-span"><a href="javascript:;">商品列表</a></span>
				<span class="action-span1"><a href="javascript:;">ECSHOP 管理中心</a></span>
				<span class="newgoods">- 添加新商品</span>
				<span class="help_sub"><a href="javascript:;" title="添加新商品帮助文档"><img src="images/jnsy.png" alt=""></a></span>
			</div>
			<!-- div1 add goods -->
				<div class="tab_div">
					<div class="tabtop_div">
						<p>
							<span class="bg_click">通用信息</span>
							<span class="bg_click">详细描述</span>
							<span class="bg_click">其他信息</span>
							<span class="bg_click">商品属性</span>
							<span class="bg_click">商品相册</span>
							<span class="bg_click">关联商品</span>
							<span class="bg_click">配件</span>
							<span class="bg_click">关联文章</span>
						</p>
					</div>
					<div class="tabbody_div clearfix">
						<form action="" method="post">
							<table id="general-table">
								<tr>
									<td class="label">商品名称:</td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品货号:
									</td>
									<td>
										<input type="text">
										<span class="public_span">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>	
									</td>
								</tr>
								<tr>
									<td class="label">商品分类:</td>
									<td>
										<select name="cat_id" id="select1" style="width:156px">
											<option value="0">请选择...</option>
											<option value="0">钻石</option>
											<option value="0">鞋子</option>
											<option value="0">夹克</option>
											<option value="0">风衣</option>
											<option value="0">马丁靴</option>
										</select>
										<a href="javascript:;" class="btn_last">添加分类</a>
										<span class="star">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">扩展分类:</td>
									<td>
										<input type="button" class="button" value="添加">
									</td>
								</tr>
								<tr>
									<td class="label">商品品牌:</td>
									<td>
										<select name="cat_id" id="select2">
											<option value="0">请选择...</option>
											<option value="0">wowowo</option>
											<option value="0">城堡</option>
											<option value="0">安徒生</option>
											<option value="0">卖女孩的小火柴</option>
											<option value="0">路飞</option>
										</select>
										<a href="javascript:;" class="btn_last">添加品牌</a>
									</td>
								</tr>
								<tr>
									<td class="label">本店售价:</td>
									<td>
										<input type="text" placeholder="0" style="width:131px">
										<input type="button" value="按市场价计算" class="btn_sc">
										<span class="star">*</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										会员价格:
									</td>
									<td class="goods_price">
										注册用户
										<input type="text" placeholder="-1" id="price_inp">
										代销用户
										<input type="text" placeholder="-1" id="price_inp">
										vip
										<input type="text" placeholder="-1" id="price_inp">
										<span class="public_span">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										商品优惠价格:
									</td>
									<td class="goods_price">
										[+] 优惠数量 <input type="text" class="price1_inp">
										 优惠价格 <input type="text" class="price1_inp">
										<span class="public_span">购买数量达到优惠数量时享受的优惠价格</span>
									</td>
								</tr>
								<tr>
									<td class="label">市场售价:</td>
									<td>
										<input type="text" placeholder="0" class="st_price input_same">
										<input type="button" value="取整数" class="int_num ">
									</td>
								</tr>
								<tr>
									<td class="label">虚拟销量:</td>
									<td>
										<input type="text" placeholder="0" class="sales_num nput_same">
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										赠送消费积分数:
				
									</td>
									<td>
										<input type="text" class="input_same" placeholder="-1">
										<span class="public_span">购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
				
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										赠送等级积分数:
									</td>
									<td>
										<input type="text" class="input_same" placeholder="-1">
										<span class="public_span">购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
										
									</td>
								</tr>
								<tr>
									<td class="label">
										<a href="javascript:;"><img src="images/notice.gif" alt=""></a>
										积分购买金额:
				
									</td>
									<td>
											
										<input type="text" class="input_same" placeholder="0">
										<span class="public_span">(此处需填写金额)购买该商品时最多可以使用积分的金额</span>
				
									</td>
								</tr>
								<tr>
									<td class="label"><input type="checkbox" id="is_promote">促销价:</td>
									<td><input type="text" class="prom_price input_same " placeholder="0"></td>
								</tr>
								<tr>
									<td class="label">促销日期:</td>
									<td>
										<input type="text" value="2017-02-27" id="date_input">
										<input type="button" class="select" value="选择">-
										<input type="text" value="2017-03-26" id="date_input">
										<input type="button" class="select" value="选择">
									</td>
								</tr>
								<tr>
									<td class="label">上传商品图片:</td>
									<td>
										<input type="file" value="选择文件" style="font-size: 12px"><br/>
										<input type="text" value="商品图片外部URL" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" style="color:#666">
									</td>
								</tr>
								<tr>
									<td class="label">上传商品缩略图:</td>
									<td>
										<input type="file" value="选择文件" style="font-size: 12px"><br/>
										<input type="text" value="商品图片外部URL" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" style="color:#666"  disabled><br/>
										<input type="checkbox"><span style="font-size: 12px">自动生成商品缩略图</span>
									</td>
								</tr>
							</table>
							<div class="button_div">
								<input type="button" value="确定" class="Y_btn button">
								<input type="button" value="重置" class="clear_btn button">
							</div>
						</form>
					</div>
				</div> 
				<!-- div2 goods list -->
			<div class="goods_list clearfix">
				<div class="form_div">
					<form action="">
						<img src="images/icon_search.gif" alt="">
						<select name="cat_id" id="">
							<option value="">所有分类</option>
							<option value="">风衣</option>
							<option value="">金丝框眼镜</option>
							<option value="">马丁靴</option>
							<option value="">裤子</option>
							<option value="">白衬衫</option>
						</select>
						<select name="brand_id" id="">
							<option value="">所有品牌</option>
							<option value="">安徒生</option>
							<option value="">卖女孩的小火柴</option>
							<option value="">青蛙王子和女巫</option>
							<option value="">城堡里的王子养成记</option>
						</select>
						<select name="intro_type" id="">
							<option value="">全部&nbsp;&nbsp;</option>
							<option value="">精品</option>
							<option value="">新品</option>
							<option value="">热销</option>
							<option value="">特价</option>
						</select>
						<select name="is_on_sale" id="">
							<option value="">全部</option>
							<option value="">上架</option>
							<option value="">下架</option>
						</select>
						关键字
						<input type="text" style="width:100px">
						<input type="submit" value="搜索" class="button">
					</form>
				</div>
				<form action="">
					<div class="list-div">
						<table cellspacing="1" cellpadding="3">
							<tr>
								<th>
									<input type="checkbox">
									<a href="javascript:;">编号</a>
									<img src="images/sort_desc.gif" alt="">
								</th>
								<th><a href="javascript:;">商品名称</a></th>
								<th><a href="javascript:;">货号</a></th>
								<th><a href="javascript:;">价格</a></th>
								<th><a href="javascript:;">上架</a></th>
								<th><a href="javascript:;">精品</a></th>
								<th><a href="javascript:;">新品</a></th>
								<th><a href="javascript:;">热销</a></th>
								<th><a href="javascript:;">推荐排序</a></th>
								<th><a href="javascript:;">库存</a></th>
								<th><a href="javascript:;">虚拟销量</a></th>
								<th><a href="javascript:;">操作</a></th>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox">260
								</td>
								<td>
									<span class="first-cell">卖女孩的小火柴</span>
								</td>
								<td>
									<span>安徒生童话</span>
								</td>
								<td>
									<span>102.00</span>
								</td>
								<td>
									<img src="images/yes.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<img src="images/no.gif" alt="">
								</td>
								<td>
									<span>100</span>
								</td>
								<td>
									<span>1</span>
								</td>
								<td>
									<span>0</span>
								</td>
								<td>
									<a href="javascript:;"><img src="images/icon_view.gif" width="21" height="21" alt=""></a>
									<a href="javascript:;"><img src="images/icon_edit.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_copy.gif" width="21" height="21" alt=""></a></a>
									<a href="javascript:;"><img src="images/icon_trash.gif" width="21" height="21" alt=""></a></a>
								</td>
							</tr>
						</table>
						<table id="page-table" cellspacing="0">
							<tr>
								<td style="background-color: rgb(255, 255, 255);">
									<div id="turn-page">
										总计
										<span id="goods_count">33</span>
										个记录分为
										<span id="page_count">3</span>
										页,每页
										<input type="text" id="pageSize" value="15">
										<span id="page-link">
											<a href="javascript:;">第一页</a>
											<a href="javascript:;">上一页</a>
											<a href="javascript:;">下一页</a>
											<a href="javascript:;">最末页</a>
											<select name="" id="gotopage">
												<option value="">1</option>
												<option value="">2</option>
												<option value="">3</option>
											</select>
										</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div >
						<select name="" id="">
							<option value="">请选择...</option>
							<option value="">上架</option>
							<option value="">下架</option>
							<option value="">精品</option>
							<option value="">促销</option>
							<option value="">热销</option>
						</select>
						<input type="button" class="button" value="确定">
					</div>
				</form>
			</div>
			<div class="tabfoot_div">
					共执行 9 个查询，用时 0.026666 秒，Gzip 已禁用，内存占用 3.580 MB<br/>
					版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
		</div>
	</div>
</body>
</html>
<script src="javascripts/public.js"></script>
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script>
	var flag=true;
		$(".menu_name").click(function(){
				for(var i=0;i<$(".menu_name").length;i++){
						$(".menu_name").css("background-image","url(images/menu_1.png)");
						$(".menu_name").children().css("display","none");
						}
				if(flag==true){
					    $(this).css("background-image","url(images/menu1_1.png)");
						$(this).children().css("display","block");
						flag=false;
				}else{
						$(this).css("background-image","url(images/menu_1.png)"); 
						$(this).children().css("display","none");
						flag=true;
				}
		})
		$(".bg_click").click(function(){
			$(this).css("background","#fff").siblings().css("background","#efefef");
		})
</script>