<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
    <link rel='stylesheet' href='/stylesheets/bam.css' />
</head>
<body>
<!-- header -->
	<div id="header">
		<div class="header">
			<div class="left">
				<h1>
					<a href="javascript:;">
						<img src="images/logo_03.jpg" alt="">
					</a>
				</h1>
			</div>
			<div class="right">
				<div>
					<img src="images/littlelogo_03.jpg" alt="">
					<h2><a href="javascript:;">更多模板堂产品</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_05.jpg" alt="">
					<h2><a href="javascript:;">开店向导</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_07.jpg" alt="">
					<h2><a href="javascript:;">记事本</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_09.jpg" alt="">
					<h2><a href="javascript:;">刷新</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_11.jpg" alt="">
					<h2><a href="javascript:;">个人设置</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_13.jpg" alt="">
					<h2><a href="javascript:;">管理员留言</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_15.jpg" alt="">
					<h2><a href="javascript:;">查看网站</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_17.jpg" alt="">
					<h2><a href="javascript:;">帮助</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_19.jpg" alt="">
					<h2><a href="javascript:;">关于 ECSHOP</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_21.jpg" alt="">
					<h2><a href="javascript:;">清除缓存</a></h2>
				</div>
				<div>
					<img src="images/littlelogo_23.jpg" alt="">
					<h2><a href="javascript:;">退出</a></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- nav -->
	<div id="nav">
		<ul class="nav">
			<li><a href="javascript:;">起始页</a></li>
			<li><a href="javascript:;">设置导航栏</a></li>
			<li><a href="javascript:;">商品管理<i>34</i></a></li>
			<li><a href="javascript:;">订单管理<i>0</i></a></li>
			<li><a href="javascript:;">广告管理<i>0</i></a></li>
			<li><a href="javascript:;">用户评论<i>0</i></a></li>

			<li><a href="javascript:;">用户评论</a></li>
			<li><a href="javascript:;">商品列表</a></li>
			<li><a href="javascript:;">会员列表</a></li>
			<li><a href="javascript:;">商店设置</a></li>
			<li><a href="javascript:;">移动版</a></li>
			<li><a href="javascript:;">服务市场</a></li>
			<li><a href="javascript:;">商品回收站</a></li>
			<li><a href="javascript:;">添加新商品</a></li>
		</ul>
	</div>
<!-- body -->
	<div class="bam_content">
		<div class="con_menu">
			<div class="menu_title">
				<h3>导航菜单</h3>
			</div>
			<ul>
				<div class="clearfix menu_name" id="menuName">
					商品管理
					<ul class="menu_wrap">
						<li class="menu_item goodsList"><a href="goodslist" target="goods">商品列表</a></li>
						<li class="menu_item addNewGoods"><a href="addgoods" target="goods">添加新商品</a></li>
						<li class="menu_item"><a href="javascript:;">商品分类</a></li>
						<li class="menu_item"><a href="javascript:;">用户评论</a></li>
						<li class="menu_item"><a href="javascript:;">商品品牌</a></li>
						<li class="menu_item"><a href="javascript:;">商品类型</a></li>
						
					</ul>
				</div>
				<div class="clearfix menu_name" id="menuName">促销管理
					<ul class="menu_wrap">
						<li class="menu_item"><a href="javascript:;">夺宝奇兵</a></li>
					</ul>
				</div>
				<div class="clearfix menu_name" id="menuName">订单管理</div>
				<div class="clearfix menu_name" id="menuName">广告管理</div>
				<div class="clearfix menu_name" id="menuName">报表统计</div>
				<div class="clearfix menu_name" id="menuName">文章管理</div>
				<div class="clearfix menu_name" id="menuName">会员管理</div>
				<div class="clearfix menu_name" id="menuName">权限管理</div>
				<div class="clearfix menu_name" id="menuName">系统设置</div>
				<div class="clearfix menu_name" id="menuName">促销管理</div>
				<div class="clearfix menu_name" id="menuName">模板管理</div>
				<div class="clearfix menu_name" id="menuName">数据库管理</div>
				<div class="clearfix menu_name" id="menuName">短信管理</div>
				<div class="clearfix menu_name" id="menuName">邮件群发管理</div>
				<div class="clearfix menu_name" id="menuName">移动版管理</div>
				<div class="clearfix menu_name" id="menuName">模板堂知识库</div>
			</ul>
		</div>
		<!-- right_content -->
		<div class="con_right">
			<div class="start">
				<div class="right_top">
					<span class="action-span"><a href="javascript:;">商品列表</a></span>
					<span class="action-span1"><a href="javascript:;">ECSHOP 管理中心</a></span>
					<span class="newgoods">- 首页</span>
					<span class="help_sub"><a href="javascript:;" title="添加新商品帮助文档"><img src="images/jnsy.png" alt=""></a></span>
				</div>
				<div class="tabfoot_div">
					共执行 9 个查询，用时 0.026666 秒，Gzip 已禁用，内存占用 3.580 MB<br/>
					版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
				</div>
			</div>
			<iframe name="goods" frameborder="0" class="clearfix">
				
			</iframe>
			</div>
	</div>
</body>
</html>
<script src="javascripts/public.js"></script>
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script>
		$(".menu_name").click(function(e){
				var e=e||event;
				var pd=$(this).children().css("display");

				if(pd=="none"){
					    $(this).css("background-image","url(images/menu1_1.png)");
						$(this).children().css("display","block");
				}else if(pd=="block"){
						$(this).css("background-image","url(images/menu_1.png)"); 
						$(this).children().css("display","none");
			}
		})

		$(".menu_name").children().click(function(e){
				var e=e||event;
					e.stopPropagation ? e.stopPropagation() : e.cancleBubble=true;
			$(".start").css("display","none");
		})
		
	
</script>